<div *ngIf="loading; else body">
  <div class="toolbar" role="banner" #body>
    <img width="40" alt="Contact List Logo" src="../assets/images/logo2.png" />
    <a href="#">Contact List</a>
  </div>
  <div class="align-spinner">
    <mat-spinner #spinner></mat-spinner>
  </div>
</div>
<ng-template #body>
  <div class="toolbar" role="banner" #body>
    <img width="40" alt="Contact List Logo" src="../assets/images/logo2.png" />
    <a href="#">Contact List</a>
  </div>
  
  <div class="content" role="main">
    <div class="divide">
      <div class="side1">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Number</mat-label>
            <input type="number" matInput [formControl]="numberFormControl" placeholder="XXX - XXX - XXXX"
              (keyup.enter)=searchContact()>
            <mat-error *ngIf="numberFormControl.hasError('min') || numberFormControl.hasError('max') && !numberFormControl.hasError('required')">
              Please enter a valid number
            </mat-error>
            <mat-error *ngIf="numberFormControl.hasError('required')">
              Number is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div *ngIf="!create">
            <div *ngIf="!edit">
              <button mat-raised-button class="btn-search" color="primary" (click)="searchContact()">Search</button>
              <button mat-raised-button class="btn-create" color="primary" (click)=createContact()>Create</button>
            </div>
          </div>
          <div *ngIf="create">
            <mat-form-field class="example-full-width">
              <mat-label>First Name</mat-label>
              <input type="text" matInput [formControl]="firstNameFormControl">
              <mat-error
                *ngIf="firstNameFormControl.hasError('minlength') || firstNameFormControl.hasError('maxlength') && !firstNameFormControl.hasError('required')">
                Please enter 3 - 16 characters
              </mat-error>
              <mat-error *ngIf="firstNameFormControl.hasError('required')">
                First Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Last Name</mat-label>
              <input type="text" matInput [formControl]="lastNameFormControl">
              <mat-error
                *ngIf="lastNameFormControl.hasError('minlength') || lastNameFormControl.hasError('maxlminLength') && !lastNameFormControl.hasError('required')">
                Please enter 3 - 16 characters
              </mat-error>
              <mat-error *ngIf="lastNameFormControl.hasError('required')">
                Last Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Contact Type</mat-label>
              <mat-select [formControl]="selected">
                <mat-option value="Phone">Phone</mat-option>
                <mat-option value="Mobile">Mobile</mat-option>
                <mat-option value="Landline">Landline</mat-option>
              </mat-select>
              <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>
            </mat-form-field><br>
            <span *ngIf="!edit; else editBtn">
              <button mat-raised-button class="btn-search" color="primary" (click)="addContact()">Add</button>
              <button mat-raised-button class="btn-create" color="primary" (click)=cancelContact()>Cancel</button>
            </span>
            <ng-template #editBtn>
              <button mat-raised-button class="btn-search" color="primary" (click)="updateContact()">Update</button>
              <button mat-raised-button class="btn-create" color="primary" (click)=cancelUpdate()>Cancel</button>
            </ng-template>
          </div>
        </form>
        <br>
        <div class="list-head">List of Contacts Registered</div>
        <ol>
          <li *ngFor="let item of list" class="list" (click)="searchNumber(item.number)">
            {{item.firstName + " " + item.lastName}}:
            {{item.number}}
            <span *ngIf="!item.isfavorite; else favorite">
              <span class="icon" (click)="addFavorite(item.number)">
                <mat-icon>favorite_border</mat-icon>
              </span>
            </span>
            <ng-template #favorite>
              <span class="icon" (click)="deleteFavorite(item.number)">
                <mat-icon>favorite</mat-icon>
              </span>
            </ng-template>
            <span class="right">
              <button mat-raised-button class="edit-btn" color="accent" (click)="editContact(item.number)">Edit</button>
              <button mat-raised-button class="" color="warn" (click)=deleteContact(item.number)>Delete</button>
            </span>
          </li>
        </ol>
      </div>
      <div class="side2">
        <div *ngIf="detailsFound;">
          <div class="main">
            <div class="name">
              <strong>First Name</strong><br>
              {{details.firstName}}
            </div>
            <div class="name">
              <strong>Last Name</strong><br>
              {{details.lastName}}
            </div>
          </div>
          <br>
          <div class="main">
            <div class="name">
              <strong>Contact Type</strong><br>
              {{details.contactType}}
            </div>
            <div class="name">
              <strong>Contact Number</strong><br>
              {{details.number}}
            </div>
          </div>
          <br>
          <div class="main">
            <div class="name">
              <strong>Favorite</strong><br>
              <div *ngIf="details.isfavorite; else notFavorite">
                True
              </div>
              <ng-template #notFavorite>
                False
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>